.mainpage{
    height: 700px;
    background-image: url(../../project-resource/DALL·E\ 2025-02-15\ 17.31.31\ -\ A\ detailed\ and\ visually\ appealing\ background\ for\ a\ community\ care\ website\ entry\ page-Photoroom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(229, 243, 243);
    background-blend-mode:multiply;
}
