form{
    margin:150px 48.5rem;
    border-radius: 2rem;
    width: 25rem;
    padding:  20px 10px;
    height: 23rem;
    border: 1px solid rgb(185, 181, 181);


}
*{
    padding: 5px;
}
input{
    width:70%;
    background-color: rgb(232, 238, 238);
}
button[type="submit"]{
    background-color: rgb(37, 125, 212);
    border-radius: 30px;
    padding: 10px 20px ;
    margin: 1rem 9.5rem;
}
label{
    color: rgb(70, 126, 99);
    font-style:initial;
    font-weight: 800;
}
img{
    margin: auto;
    padding: 40px 20px 50px 65px;
}

body{
    background-image:url(../internet-digital-syber-security-technology-260nw-1518108761.jpg);
    background-size: cover;
    background-color: rgb(104, 112, 61);
    background-blend-mode:color-burn;
}